<html>
<head>
  <% include ./partials/head %>
</head>
  <% include ./partials/header %>
<body>

<h1>About</h1>
<p>
Wraith talk. It’s on you how you want to live your life. Everyone has a choice.
I pick my choice, squeaky clean. You see the hedges, how I got it shaped up?
It’s important to shape up your hedges, it’s like getting a haircut, stay fresh.
Cloth talk. I told you all this before, when you have a swimming pool, do not
use chlorine, use salt water, the healing, salt water is the healing.<br/>

Every chance I get, I water the plants, Lion! The ladies always say Khaled you
smell good, I use no cologne. Cocoa butter is the key. The key is to enjoy life,
because they don’t want you to enjoy life. I promise you, they don’t want you to
jetski, they don’t want you to smile. The key is to drink coconut, fresh coconut,
trust me. I’m giving you cloth talk, cloth. Special cloth alert, cut from a
special cloth. Lion! Look at the sunset, life is amazing, life is beautiful,
life is what you make it.

You should never complain, complaining is a weak emotion, you got life, we
breathing, we blessed. You see the hedges, how I got it shaped up? It’s
important to shape up your hedges, it’s like getting a haircut, stay fresh.
Bless up. Major key, don’t fall for the trap, stay focused. It’s the ones
closest to you that want to see you fail. It’s important to use cocoa butter.
It’s the key to more success, why not live smooth? Why live rough?
</p>

</body>

</html>
