<html>
<head>
  <% include ./partials/head %>
</head>
  <% include ./partials/header %>
<body>

<div class="parallax2"></div>

<div class='section'>
  <div id="dropin-container"></div>
  <button id="submit-button">Request payment method</button>
  <p>
    You see the hedges, how I got it shaped up? It’s important to shape up your hedges, it’s like getting a haircut, stay fresh. Stay focused. Mogul talk. Fan luv. Look at the sunset, life is amazing, life is beautiful, life is what you make it. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. Special cloth alert. Special cloth alert. It’s important to use cocoa butter. It’s the key to more success, why not live smooth? Why live rough?

    Wraith talk. Surround yourself with angels. Congratulations, you played yourself. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. Hammock talk come soon. The key is to drink coconut, fresh coconut, trust me. Look at the sunset, life is amazing, life is beautiful, life is what you make it. The key to more success is to have a lot of pillows. They don’t want us to win. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast.

    Eliptical talk. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. Look at the sunset, life is amazing, life is beautiful, life is what you make it. They don’t want us to eat. We don’t see them, we will never see them. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. In life there will be road blocks but we will over come it. The key to success is to keep your head above the water, never give up.

    Another one. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. You see the hedges, how I got it shaped up? It’s important to shape up your hedges, it’s like getting a haircut, stay fresh. I’m up to something. To be successful you’ve got to work hard, to make history, simple, you’ve got to make it. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to smile.

    The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Surround yourself with angels. Every chance I get, I water the plants, Lion! You see that bamboo behind me though, you see that bamboo? Ain’t nothin’ like bamboo. Bless up. We the best. Look at the sunset, life is amazing, life is beautiful, life is what you make it. Mogul talk. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail.

    Fan luv. To be successful you’ve got to work hard, to make history, simple, you’ve got to make it. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Let me be clear, you have to make it through the jungle to make it to paradise, that’s the key, Lion! They key is to have every key, the key to open every door. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender.

    They don’t want us to win. Let’s see what Chef Dee got that they don’t want us to eat. The key to more success is to get a massage once a week, very important, major key, cloth talk. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to smile. Another one.

    You see the hedges, how I got it shaped up? It’s important to shape up your hedges, it’s like getting a haircut, stay fresh. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion! Let me be clear, you have to make it through the jungle to make it to paradise, that’s the key, Lion! You see the hedges, how I got it shaped up? It’s important to shape up your hedges, it’s like getting a haircut, stay fresh.

    To succeed you must believe. When you believe, you will succeed. Let me be clear, you have to make it through the jungle to make it to paradise, that’s the key, Lion! To be successful you’ve got to work hard, to make history, simple, you’ve got to make it. To be successful you’ve got to work hard, to make history, simple, you’ve got to make it. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. Lion!

    Surround yourself with angels. We the best. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. You see the hedges, how I got it shaped up? It’s important to shape up your hedges, it’s like getting a haircut, stay fresh. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm.
  </p>
</div>

<div class="parallax2"></div>

</body>
<script>
    var button = document.querySelector('#submit-button');
    

    braintree.dropin.create({
      authorization: 'sandbox_4bg3c5mj_2cvdnz3tpfvvrhxc',
      container: '#dropin-container'
    }, function (createErr, instance) {
      button.addEventListener('click', function () {
        instance.requestPaymentMethod(function (err, payload) {
          // Submit payload.nonce to your server
        });
      });
    });
  </script>

</html>
